<div class="row pt-3 pb-4 gallery mx-0">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center ">
                    <h2 class="mt-0 mb-4">
                        Галерея
                    </h2>
                </div>
                <div class="col-4 text-center">
                    <div class="gallery-wrapper">
                        <div class="row">
                            <div class="col-12 gallery-header pt-3">
                                <h5 class="mb-3">
                                    <a class="gallery-headline" href="#">Пастель</a>
                                </h5>
                            </div>
                            <a class="col-6 gallery-item item1 d-block" href="#"></a>
                            <a class="col-6 gallery-item item2 d-block" href="#"></a>
                            <a class="col-6 gallery-item item3 d-block" href="#"></a>
                            <a class="col-6 gallery-item item4 d-block" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="gallery-wrapper">
                        <div class="row">
                            <div class="col-12 gallery-header pt-3">
                                <h5 class="mb-3">
                                    <a class="gallery-headline" href="#">Масло</a>
                                </h5>
                            </div>
                            <a class="col-6 gallery-item item5 d-block" href="#"></a>
                            <a class="col-6 gallery-item item6 d-block" href="#"></a>
                            <a class="col-6 gallery-item item7 d-block" href="#"></a>
                            <a class="col-6 gallery-item item8 d-block" href="#"></a>

                        </div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="gallery-wrapper">
                        <div class="row">
                            <div class="col-12 gallery-header pt-3">
                                <h5 class="mb-3">
                                    <a class="gallery-headline" href="#">Акварель / Тушь</a>
                                </h5>
                            </div>
                            <a class="col-6 gallery-item item9 d-block" href="#"></a>
                            <a class="col-6 gallery-item item10 d-block" href="#"></a>
                            <a class="col-6 gallery-item item11 d-block" href="#"></a>
                            <a class="col-6 gallery-item item12 d-block" href="#"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
