<div class="row pt-3 pb-4 newest mx-0">
    <div class="col-12 text-center">
        <h2 class="mt-0">
            Новинки
        </h2>
    </div>
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center ">
                    <div class="newest-item portrait">
                        <div class="row">
                            <div class="col-12 text-center">
                                <a class="newest-header pt-2 pb-2 d-block">
                                    <h5 class="mb-0">
                                        Букет полевых цветов.
                                    </h5> Пастель.
                                </a>
                                <a class="newest-content item1 d-block" href="#">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="newest-item landscape">
                        <div class="row">
                            <div class="col-12">
                                <a class="newest-header pt-2 pb-2 d-block" href="#">
                                    <h5 class="mb-0">
                                        ЖД вокзал Гамбурга.
                                    </h5>
                                    Пастель.
                                </a>
                                <a class="newest-content item2 d-block" href="#">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
