<div class="row pt-3 pb-4 gallery mx-0">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center ">
                    <h2 class="mt-0 mb-4">
                        Галерея
                    </h2>
                </div>
                <div class="col-4 text-center">
                    <div class="gallery-wrapper">
                        <div class="row">
                            <div class="col-12 gallery-header pt-3">
                                <h5 class="mb-3">
                                    <a class="gallery-headline" href="#">Пастель</a>
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="gallery-wrapper">
                        <div class="row">
                            <div class="col-12 gallery-header pt-3">
                                <h5 class="mb-3">
                                    <a class="gallery-headline" href="#">Масло</a>
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="gallery-wrapper">
                        <div class="row">
                            <div class="col-12 gallery-header pt-3">
                                <h5 class="mb-3">
                                    <a class="gallery-headline" href="#">Акварель / Тушь</a>
                                </h5>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
