<div class="row gallery-part mt-3" id="gallery-pastel">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>
                        Пастель
                    </h3>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12 gallery-card col-md-6">
                    <div class="row">
                        <div class="col-auto gallery-img">
                            <a href="#"><img src="img/gallery/landing-page/item1.jpg" alt=""></a>
                        </div>
                        <div class="col">
                            <div class="gallery-card-status">
                                Продано
                            </div>
                            <div class="gallery-card-title">
                                Букет полевых цветов
                            </div>
                            <div class="gallery-card-size">
                                28 cm x 42 cm, 7 inc x 10 inc
                            </div>
                            <div class="gallery-card-price">
                                200 euro
                            </div>
                            <div class="gallery-details">
                                <a href="#" class="btn btn-primary">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 gallery-card col-md-6">
                    <div class="row">
                        <div class="col-auto gallery-img">
                            <img src="img/gallery/landing-page/item1.jpg" alt="">
                        </div>
                        <div class="col">
                            <div class="gallery-card-status">
                                Продано
                            </div>
                            <div class="gallery-card-title">
                                Букет полевых цветов
                            </div>
                            <div class="gallery-card-size">
                                28cm x 42cm, 7inc x 10inc
                            </div>
                            <div class="gallery-card-price">
                                200 euro
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
