:root{
    --font-relaway: 'Raleway', sans-serif;
    --font-opensans: "Open Sans", sans-serif;
    --body-background-color: #fff;
    --navigation-background-color: rgba(209, 153, 97, 0.25);
    --headlines-color: rgba(209, 153, 97, 1);
    --font-color: #212529;
}

body{
    font-family: var(--font-opensans);
    background-color: var(--body-background-color);
}

h1{
    font-family: var(--font-relaway);
    color: var(--headlines-color);
    font-size: 3rem;
}
h2{
    font-family: var(--font-relaway);
    font-size: 2.5rem;
}

.logo img{
    max-width:100px;
    height: auto;
}

.navigation, .newest {
    background-color: rgba(209, 153, 97, 0.25);
    background-color: var(--navigation-background-color);
    padding: 1rem 0;
    margin: 0;
}
.navigation-item{
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.social-icon {
    color: var(--font-color);
}
.social-icon:hover {
    color: var(--font-color);
    opacity: 0.5;
}
.portrait img{
    max-width: 300px;
    height: auto;
    border: 2px solid var(--headlines-color);
    padding: 5px;
}

.intro div{
    font-size: 1.5rem;
    font-family: var(--font-relaway);
}
.newest .newest-item{
    background-color: var(--body-background-color);
    margin: 0 auto;
    overflow: hidden;
}

.newest .newest-item.portrait{
    width: 350px;
    max-width: 350px;
    height: 470px;
    max-height: 470px;
}

.newest .newest-item.landscape{
    width: 500px;
    max-width: 500px;
    height: 395px;
     max-height: 395px;
    background-color: var(--body-background-color);
    margin: 0 auto;
    overflow: hidden;
}

.newest-content{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.newest-content:hover{
    transform: scale(0.95);
    transition: all .2s ease-in;
}

.newest-content.item1{
    background-image:url("../img/newest1.jpg") ;
    height: 375px;
}
.newest-content.item2{
    background-image:url("../img/newest3.jpg") ;
    height: 300px;
}



